{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'clients.css' %}">
    <title>welcome to work</title>
  </head>
  <body>
    <h1>Clients</h1>
    <p>Designated to Clients</p>
    <table border="1">
      {% for x in myclients %}
      <tr>
        <td><a href="update/{{x.id}}">{{x.id}}</a>{{x.id}}</td>
        <td>{{x.firstname}}</td>
        <td>{{x.lastname}}</td>
        <td><a href="delete/{{x.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <a href="add/">Add a new Client</a>
    </p>
    <button onclick="myfunc()">Click me</button>

    <script src="{% static 'main.js' %}">

    </script>
  </body>
</html>
